.head
  position: absolute

.text
  position: absolute
  left: 42%
  top: 47.7%
  width: 14.2%

.warning
  position: absolute
  left: 50%
  top: 57%

.count
  position: absolute
  left: 67.45%
  top: 65.3%
  font-weight: bold
  color: rgb(246, 54, 54)

.name
  position: absolute
  left: 46.4%
  top: 42.6%
  font-size: 70%

iframe
  width: 100vw
  height: 100vh

@import '../node_modules/bulma/bulma'