.head
  position: absolute

.text
  position: absolute
  left: 30.3rem
  top: 19.3rem
  width: 162px
  height: 60px 

.warning
  position: absolute
  left: 33.1rem
  top: 23.8rem

.count
  position: absolute
  left: 47.7rem
  top: 27.7rem
  font-weight: bold
  color: rgb(246, 54, 54)

.name
  position: absolute
  left: 33.4rem
  top: 17.3rem
  font-size: 10px

iframe
  width: 100vw
  height: 100vh

@import '../node_modules/bulma/bulma'